body
{
    color: blueviolet;
    text-align: left;
    font-family: "courier";
    font-size: 16px;
    background-color: gold;
}

#Container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
    background-color: beige;
}

#cabecera{
    background-color: deeppink;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    font-weight: bold;
    padding: 0.5em; 
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#Container h1{
    font-size: 20px;
}

#logo{
    height: 50px;
}